.source
  - active.each do |campaign|
    = render 'camp_summary', {klass: 'campaign-snapshot', campaign: campaign}
.active
  - active.each do |campaign|
    = render 'camp_summary', {klass: 'campaign-snapshot', campaign: campaign}
.pending
  - pending.each do |campaign|
    = render 'camp_summary', {klass: 'campaign-snapshot', campaign: campaign}
.supported
  - supported.each do |campaign|
    = render 'camp_summary', {klass: 'campaign-snapshot', campaign: campaign}
.donated
  - donated.each do |campaign|
    = render 'camp_summary', {klass: 'campaign-snapshot', campaign: campaign}
