.source
  - active.each do |campaign|
    = render 'camp_summary', {klass: 'campaign-snapshot', campaign: campaign}
.active_camp
  - active.each do |campaign|
    = render 'camp_summary', {klass: 'campaign-snapshot', campaign: campaign}
.pending_camp
  - pending.each do |campaign|
    = render 'camp_summary', {klass: 'campaign-snapshot', campaign: campaign}
.supported_camp
  - supported.each do |campaign|
    = render 'camp_summary', {klass: 'campaign-snapshot', campaign: campaign}
.donated_camp
  - donated.each do |campaign|
    = render 'camp_summary', {klass: 'campaign-snapshot', campaign: campaign}
