#profile-container
  #profile-box
    = image_tag 'http://www.greatsouthwestclassic.com/wp-content/uploads/2013/01/profile-placeholder.jpg', id: 'user-image'
    #user-details
      #user-name= @profile_name
      = mail_to @user.email, @user.email, id: 'user-email'
      #user-about
      = @user.about_me
    #user-edit-link
      - if current_user.id == @user.id
        = link_to "Edit", edit_user_registration_path, id: 'user-edit'


#profile-nav-bar
  #profile-nav-links
    = link_to "ACTIVE (#{@active_campaigns.length})", "#", class: "profile-nav-link selected", id: "active_camp"
    = link_to "PENDING (#{@pending_campaigns.length})", "#", class: "profile-nav-link", id: "pending_camp"
    = link_to "DONATED (#{@donated_campaigns.length})", "#", class: "profile-nav-link", id: "donated_camp"
    = link_to "SUPPORTED (#{@supported_campaigns.length})", "#", class: "profile-nav-link", id: "supported_camp"

#profile-nav-underline

.campaign-grid
  = render 'user_campaigns', {active: @active_campaigns, supported: @supported_campaigns, donated: @donated_campaigns, pending: @pending_campaigns }
            












