.campaign-grid
  = render 'home/campaign_snapshot'
  = render 'home/campaign_snapshot'
  = render 'home/campaign_snapshot'
  = render 'home/campaign_snapshot'
  = render 'home/campaign_snapshot'
  = render 'home/campaign_snapshot'
