%li{class: klass, 'data-id' => campaign.id}
  = link_to image_tag(campaign.image_url), campaign.video_url, class: 'fancybox'
  .campaign-details
    .text
      = link_to campaign.title, campaign_path(campaign)
      .creator
        by
        - user = User.find(campaign.creator.id)
        = link_to user.name, user_path(user)
    .stats-1
      .raised #{to_currency(campaign.donation_total)}
      .percent #{campaign.percent_funded}%
    .bar
      %span{style: "width: #{campaign.percent_funded}%"}
    .stats-2
      - time_array = campaign.separated_time_ago
      .time-left
        %span #{time_array[0]}
        - unless time_array[1] == ""
          #{time_array[1]} left
      .supporters
        %span #{campaign.supporters.length}
        supporters
