.featured-video{class: klass}
  %img{src: campaign.image_url}
  .features-details
    .campaign-name-stats
      .campaign-name #{campaign.title}
      .campaign-stats
        - time_array = campaign.separated_time_ago
        %span #{to_currency(campaign.donation_total)}
        raised &nbsp;&nbsp;|&nbsp;
        %span #{time_array[0]}
        #{time_array[1]} left
    = link_to "View Campaign", campaign, class: 'button'
