.select-bg
  .select-bar
    = link_to 'TRENDING', '#', id: 'trending', class: 'categories selected'
    = link_to 'MOST FUNDED', '#', id: 'most-funded', class: 'categories'
    = link_to 'SUCCESS STORIES', '#', id: 'successes', class: 'categories'
    = link_to 'TOPICS', root_path, id: 'topics', remote: true
    = render 'home/topic_dropdown'
