.form_head
= semantic_form_for @campaign do |f|
  .form_full.title
    = f.input :title
  .form_half
    = f.input :topic        
  .form_half.right
    = f.input :tag_list, placeholder: "Tags separated by commas"
  .form_half
    = f.input :video_url 
  .form_half.right
    = f.input :image_url
  .form_half
    = f.input :location 
  .form_half.right
    = f.input :short_blurb, as: :text
  .form_full
    = f.action :submit, :value => "Next"

.form_head
  #awesome_campaign{:contenteditable => "true"}  
    .form_full.edit_magic
      = render 'campaigns/new/example'
  %id{:style => 'display: none'}
    = @campaign.id



.form_head
= semantic_form_for @campaign do |f|
  .form_half
    = f.input :cause_url 
  .form_half.right
    = f.input :funding_deadline, as: :date_picker
  .form_half
    = f.input :funding_goal
  .form_full
    = f.action :submit
