.form_head
= semantic_form_for @campaign, :url => campaigns_finalize_campaign_path, remote: true do |f|
  
  .form_half
    = f.input :cause_url, placeholder: "Cause URL"
  .form_half.right
    = f.input :funding_deadline, as: :date_picker, placeholder: "Funding deadline"
  .form_half
    = f.input :funding_goal, as: :monetary
    = f.hidden_field :opposing_campaign_id

  .track_oppopsition 
    Keep track of your opposition
    .tracking_description Select campaign from below
  .opposing_selection
    %a.opp_arrow.left{href: "#"}
      %i.icon-chevron-sign-left.icon-3x
    .opposition
      .opp_container
        - @related_campaigns.each do |camp|
          .opp-camp
            = render 'home/campaign_snapshot', {klass: 'campaign-snapshot', campaign: camp}
            = link_to 'Select', '#' , :class => 'select-opposing', :"data-id" => camp.id
    %a.opp_arrow.right{href: "#"}
      %i.icon-chevron-sign-right.icon-3x
  .form_full
    = f.action :submit, label: "Create!"
