.campaign_header
  .image
    <img src=#{@campaign.image_url}>
  .copy
    .title
      = @campaign.title
    .campaign_creator
      by
      - camp_user = CampaignUser.where(campaign_id: @campaign.id).where(user_type: 'Creator')
      - user = User.find(camp_user[0].user_id)
      = link_to user.name, user_path(user)
    .location
      = @campaign.location
    .status
      = @campaign.status
    - if user == current_user
      - button_text = (@campaign.status == 'Active') ? 'Pause' : 'Activate'
      #admin-console
        #admin-title Admin Console
        = link_to button_text, campaigns_activate_path(id: @campaign.id), :method => :put, remote: true, id: "status-button", :class => 'button'
        = link_to "Edit", edit_campaign_path, id: "edit-button", :class => 'button'
    .blurb
      = @campaign.short_blurb

  .user_interaction_summary
    .social_show_page
      = render 'shared/campaign/social'
      = render 'campaigns/support'
    .supporter_count
      = "Supporters(" + @supporters.count.to_s + ")" if @supporters
    .donor_count
      = "Donors(" + @donors.count.to_s+")" if @donors
      
      
