.campaign_header
  .image
    <img src=#{@campaign.image_url}>
  .copy
    .title
      = @campaign.title
    .status
      = @campaign.status
    .blurb
      = @campaign.short_blurb
    .location
      = @campaign.location
