.campaign_header
  .image
    = image_tag @campaign.image_url
  .copy
    - if @campaign.creator == current_user
      - button_text = @campaign_show[:button_status]
      #admin-console
        #admin-title Your Admin Console
        = link_to button_text, campaigns_toggle_status_path(id: @campaign.id), :method => :put, remote: true, id: "status-button", :class => 'button'
        = link_to "Edit", edit_campaign_path, id: "edit-button", :class => 'button'
    .title
      = @campaign.title
    .campaign_creator
      by
      = link_to @campaign.creator.name, user_path(@campaign.creator)
    .location
      = @campaign.location
    .status
      = @campaign.status
    .blurb
      = @campaign.short_blurb

  .user_interaction_summary
    = render 'shared/campaign/social'
    = render 'campaigns/support'
    .supporter_count
      = "Supporters(#{@campaign_show[:supporter_count]})"
    .donor_count
      = "Donors(#{@campaign_show[:donor_count]})"


