.campaign_header
  .image
    <img src=#{@campaign.image_url}>
  .copy
    .title
      = @campaign.title
    .location
      = @campaign.location
    .status
      = @campaign.status
    .blurb
      = @campaign.short_blurb

  .user_interaction_summary
    = render 'shared/campaign/social'
    .support_button_show_page
      = render 'campaigns/support'
    .supporters_show_page
      = "Supporters(" + @supporters.count.to_s + ")" if @supporters
    .donators_show_page
      = "Donors(" + @donors.count.to_s+")" if @donors
    
      
