.campaign
  .donate
    = form_tag("/donate", method: "post") do
      = text_field_tag(:donation)
      = hidden_field_tag(:campaign_id, @campaign.id)
      = submit_tag("Donate!")
  .title
    = @campaign.title
  .blurb
    = @campaign.short_blurb
  .goal
    = to_currency(@campaign.funding_goal)
    = @campaign.funding_goal
  .donation_total
    = @campaign.donation_total
  .deadline
    = @campaign.funding_deadline.strftime("Funding Deadline: %m/%d/%Y")
  .pitch
    = @campaign.pitch

  .support
    - if user_signed_in?
      - if !@support.include?(@campaign.id)
        = link_to "Support", campaign_users_path(@campaign.id), method: 'post', id: "support", remote: true

  .supporter
    - if @ids
      Supporters:<br>
      - @ids.each do |id|
        %a{:href => "/users/#{id}"}
          \/users/#{id}<br>
