%nav
  #home_log_in
    = render './devise/sessions/login'
  #home_sign_up
    = render './registrations/sign_up'
  .nav-links
    = link_to root_path, class: 'logo' do
      #take take
      ST<span id="logo_a">A<span id="an_a">A</span></span>NCE
      #stance stance
    = link_to new_campaign_path, class: 'create-campaign' do
      CREATE <span id="camp">CAMPAIGN</span>
    - if user_signed_in?
      = link_to 'LOGOUT', destroy_user_session_path, method: :delete
      = link_to 'PROFILE', user_path(current_user)
    - else
      #sign_up
        = link_to new_user_registration_path, id: "sign_up_link",remote:true do
          %i.icon-off
          %br
          SIGN UP
      #sign_up
        = link_to new_user_session_path, id: "sign_in_link", remote: true do
          %i.icon-user
          %br
          LOGIN 
