<!DOCTYPE html>
<html>
<head>
  <title>Staance</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if @alert  %>
  <div id='alert'><%= @alert %><div>
    <% end %>
</head>

<body>
  <%= render 'shared/fbsdk' %>
  <%= render 'layouts/nav' %>
  <%= render 'shared/errors', errors: @errors %>
  <% if notice || alert %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>
<%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="container">
    <%= yield %>
  </div> 
  <%= render 'layouts/footer' %>
</body>
</html>


