<!DOCTYPE html>
<html>
<head>
  <title>PoliticalKickstarter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div id='alert'><%= @alert if @alert %><div>
</head>

<body>
  <%= render 'shared/fbsdk' %>
  <nav>
    <%= link_to 'Home', root_path %>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>
      <%= link_to 'Create Campaign', new_campaign_path %>
      <%= link_to 'Edit profile', edit_user_registration_path %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %>
      <%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %>
    <% end %>
  </nav>
  <%= render 'shared/errors', errors: @errors %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>


